.col-to-action-section {
  padding: 60px 0;
  background: linear-gradient(90deg, #0c0633 10%, #000851 100%);
  //   background-color: #0c0633;
  color: #fff;
  .btn {
    background: linear-gradient(to right, #8b62ff, #3b1bff);
    color: #fff;
  }
}
