.navbar {
  height: 80px;
  .nav-item {
    .download {
      padding: 0.5rem;
      background-image: linear-gradient(90deg #8b62ff #3b1bff) !important;
      border: none;
      outline: none;
    }
  }
}
// .navbar-brand img {
//   width: 150px;
//   height: 150px;
// }
